[settings]
debug = false
socket = true

[ifttt]
webhooks_url = https://maker.ifttt.com/use/your_token
event_name_on = socket_on
event_name_off = socket_off

[smtp]
smtp_server = smtp.gmail.com
smtp_port = 587
from_mail = mail@example.com
from_password = password
recipients = mail1@example.com,mail2@example.com
subject = [The Guardpian] New event

